@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', 'sans-serif';
  --color-my-red: #b40735;
  --color-header: #d47f7f;
  --color-outline-colour: #d47f7f;
  --color-hero-text-red: #601818;
  --color-intro-bg: #dfd5cb;
  --color-theme-green: #707a57;
  --color-theme-green-dark: #5c6445;
  --color-theme-green-darker: #474d36;
  --color-theme-green-light: #86936d;
  --color-theme-pink: #e8808d;
  --color-theme-pink-dark: #d86f7b;
  --color-theme-pink-darker: #c05e6a;

  --color-bg-2: #f4a9b2;
  --color-text-bg-1: #fdf6f0;
  --color-text-bg-2: #f2e8d5;
  --color-hunter-green: #3a573dff;
  --color-cal-poly-green: #274d17ff;
  --color-dark-purple: #2d172eff;
  --color-thistle: #e2cdf3ff;
  --color-eggplant: #5e4551ff;
  --color-red-ncs: #b50735ff;
  --color-olivine: #9fb38dff;
  --color-palatinate: #4f1c4dff;
  --color-xanthous: #f1b33fff;
  --color-lapis-lazuli: #0b5ca0ff;
  --color-magenta: #e63490ff;
  --color-french-mauve: #dc84ceff;
  --color-hunyadi-yellow: #f0b23fff;
  --color-walnut-brown: #5e534cff;
  --color-ash-gray: #c4cab9ff;
}

:root {
  --color-primary: #1a73e8;
  --color-secondary: #ff6f61;
}
