@import "tailwindcss";

:root {
  --color-primary: #1a73e8;
  --color-secondary: #ff6f61;

  --color-header: #d47f7f;
  --color-outline: #d47f7f;
  --color-hero-text: #601818;
  --color-intro-bg: #dfd5cb;
  --color-bg-1: #707a57;
  --color-bg-1-dark: #5c6445;
  --color-bg-2: #f4a9b2;
  --color-text-bg-1: #f2e8d5;
  --color-text-bg-2: #fdf6f0;
}
